/* Постояные клиенты */

.client__heading {
  text-align: center;
  margin-bottom: 50px;

  color: var(--text-secondary);
  @extend %title;
  // font-weight: 700;
  // font-style: normal;
  // font-size: 36px;
  // line-height: 1.16;
}
.client__list {
  display: flex;
  justify-content: center;
  align-content: center;
}
.client__item:not(:last-child) {
  margin-right: 30px;
}
.client__link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;

  &:focus,
  &:hover {
    border: 1px solid var(--fone-color);
    fill: var(--fone-color);
  }

  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
