/* Портфолио */
.projekt-heading {
  display: none;
}

.projekt__button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}
.projekt__button-item:not(:last-child) {
  margin-right: 8px;
}

.projekt__button-item {
  padding: 6px 22px;

  color: var(--text-secondary);
  background-color: #f5f4fa;
  border: none;

  @extend %button__portfolio;
  // font-weight: 500;
  // font-family: "Roboto";
  // border-radius: 4px;
  // font-style: normal;
  // font-size: 16px;
  // line-height: 1.62;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--fone-color);
  }

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projekt {
  justify-content: center;
}
/* карточки */
.projekt__box-list {
  display: flex;

  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding: 0;
}
.projekt__box-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projekt__box-deskription {
  position: relative;
  overflow: hidden;

  &:hover .tehnokryak,
  &:hover .poster,
  &:hover .restaurant,
  &:hover .prime,
  &:hover .boxes,
  &:hover .komp,
  &:hover .limited-edition,
  &:hover .lab,
  &:hover .business {
    transform: translateY(0%);
  }
}

.tehnokryak,
.poster,
.restaurant,
.prime,
.boxes,
.komp,
.limited-edition,
.lab,
.business {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;

  margin: 0;
  padding-left: 27px;
  width: 100%;
  height: 101%;

  &:hover.tehnokryak,
  .poster,
  .restaurant,
  .prime,
  .boxes,
  .komp,
  .limited-edition,
  .lab,
  .business {
    transform: translateY(0%);
  }

  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}

// .projekt__box-item .projekt__box-deskription:hover .tehnokryak,
// .projekt__box-item .projekt__box-deskription:hover .poster,
// .projekt__box-item .projekt__box-deskription:hover .restaurant,
// .projekt__box-item .projekt__box-deskription:hover .prime,
// .projekt__box-item .projekt__box-deskription:hover .boxes,
// .projekt__box-item .projekt__box-deskription:hover .komp,
// .projekt__box-item .projekt__box-deskription:hover .limited-edition,
// .projekt__box-item .projekt__box-deskription:hover .lab,
// .projekt__box-item .projekt__box-deskription:hover .business {
//   transform: translateY(0%);
// }

.projekt__box-text {
  color: var(--text-primery);
  @extend %projekt__box-text;
  // font-weight: normal;
  // font-style: normal;
  // font-size: 16px;
  // line-height: 1.87;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  padding: 20px 24px;
}
.projekt__box-heading {
  color: var(--text-secondary);
  @extend %projekt__box-heading;
  // font-weight: 700;
  // font-style: normal;
  // font-size: 18px;
  // line-height: 2;
}
